{{> menu active="about"}}

<div class="columns is-mobile is-centered is-vcentered">
    <div class="column">
        <div class="box">
            <span class="title">Internet of Dough</span><br>
            <br>
            <span class="subtitle">Connecting your sourdough starter for remote monitoring.</span>
            <br>
            <br>
            <p>DoughIoT is a sensor kit utilising the Arduino IoT Kit with MKR1010 board, to monitor sourdough starters.</p>
            <p>Temperature and ultrasonic sensors are used to provide the user with information via this web app and via mobile push notifications to ensure the sourdouh starter is developed in optimum conditions.</p>
            <br>
            <p><b>Key features:</b></p>
            <ol>
                <li>Temperature sensor detects temperature drops and notifies user to move the starter to a warmer spot.</li>
                <li>Ultrasonic sensors - detect the rise in the sourdough starter over time. When the starter has doubled in height, the user is notified.</li>
                <li>Web dashboard provides - avg temp during last feed, ripening times (based on time for starter to double in height), and count of number of feeds</li>
                <li>ThingSpeak widgets showing real-time readings, and with an indicator to display when starter is ready to use.</li>
                <li>Various metrics around the readings - including average temperature, and time taken for starter to double.</li>
                <li>Readings automatically stop when starter is ready.</li>
            </ol>
        </div>
    </div>
    <div class="column">
<img src="https://cdn.glitch.global/7a72850e-5b7d-4bfb-88df-e9652d153e42/starter.JPG?v=1704206834885" alt="" style="width: 50%;" align="right">    </div>
</div>