{{> menu}}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Home|Internet of Dough</title>
</head>

<body>
  <h1>Welcome to Internet of Dough - companion web app for the DoughIoT sourdough starter monitor.</h1>
      <div class="field mt-4">
        <div class="control">
            <button class="button is-info"><a href="/dashboard">Go to dashboard</a></button>
        </div>
    </div>
    <a href="index.html">Go back to Home</a>
</body>

</html>
